/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: #414b56;
}

a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}

a, a:active, a:focus {
    color: #3FC380;  
}

a:hover {
    color: #6AE368;
}

::selection {
    background: #B7EF9C;
    /* color: #232828; */
    text-shadow: none;
}

.div-centered {
    margin: 0 auto;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: .5rem;
}

h3 {
    font-size: 1.3rem;
}

.image-content img {
    width: 100%;
}


/* NAV */
.navbar {
    padding: 1rem 1rem;
}

.nav-transparent {
    border: 0;
    border-radius: 0;
    background: rgba(0,0,0,0);
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    flex-grow: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: #414b56;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: #3FC380;
    font-weight: 500;
}

.global-logo {
    background-repeat: no-repeat;
    background-image: url('../img/logo.svg'); 
    height: 55px;
    width: 55px;
}

/* MAIN */

/* PDF */
.pdfobject-container {
    height: 100vh;
    /* border: 1rem solid rgba(0,0,0,.1); */
}

/* MAIN/SECTION */
.section {
    /* margin: 5% 0; */
    padding: 2% 0;
}

/* MAIN/SECTION/HERO */
.section-hero {
    padding-top: 10%;
    /*padding-top: 120px;*/
}

.section-hero p {
    font-size: 2rem;
}

.section-hero-project {
    margin-top: 0;
    padding-top: 10%;
    /*padding-bottom: 15%;*/
}

.hero-text {
    text-align: left;
}

.hero-text h1 {
    font-weight: 500;
}

/* MAIN/SECTION/PROJECT */
.section-project {
    margin: 2% 0;
    padding: 2% 0;
}

/* MAIN/SECTION//CONTENT */

img#img-group {
  width: 100%;
}

.section {
    text-align: center;
}

.section p {
    font-weight: 300;
    letter-spacing: 0.02rem;    
}

.section-content-detail {
    text-align: left;
}

.section-content-detail li {
    font-weight: 300;
}

.section-content-detail h2 {
    margin-bottom: 5%;
}

.text-intro {
    padding-bottom: 2%;
}

.image-content {
    box-shadow: 0 1px 4px 0 rgba(99,114,130,.15);
}

.image-section {
    text-align: center;
    padding: 5% 0;
}

.image-section h3 {
    font-weight: 400;
    margin-bottom: 3%;
}

.image-bg {
    /*padding-top: 56.25%;   450px/800px = 0.5625 */
    /*background-size: cover;*/
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.text-description {
    text-align: left;
    padding-top: 2%;
}

.text-description-detail {
    display: flex;
}

.text-description-detail div {
    padding-left: 0;
}

.text-description h3, .section-hero-project h3 {
    font-weight: 400;
}

.img-profile {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* FOOTER (CONTACT) */
.section-contact {
    margin-bottom: 0;
}

.section-contact a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #6C7A89;
    transition: all 0.2s ease;
}

.section-contact a:hover {
    color: #3D3F49;
}

.section-contact i {
    margin: 10%;
    padding-bottom: 2%;
}

/* YOUTUBE VIDEOS*/
.item {
    padding-bottom: 5%;
}

.thumbnail h3 {
    color: #232828;
    font-weight: 400;
}

img.channel-thumbnail {
    width: 100%;
    height: auto;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    .section-hero p {
        font-size: 1.6rem;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {  

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) { 
    .navbar-nav {
        width: 100%;
    }     
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 1199px) { 

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}