// per SFMOMA's UI Kit

$gray-darkest:          #232828;
$gray-darker:           #2f3d3f;
$gray-dark:             #39494c;
$gray:                  #617172;
$gray-light:            #8c9898;
$gray-lighter:          #c8d1d1;
$gray-lightest:         #edf2f2;

$brand-primary:         #ff483b;
$white: 				#FFF;

// extra colors with specific use cases:
$site-bg: 				#f8f8f8;
$card-bg: 				#fefefe;