<footer class="section section-contact" id="contact">
    <div class="section-content container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 div-centered">
                <h2>Say Hi</h2>
                <a href="mailto:knguyenn11@gmail.com">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/khanhnguyenn">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/khanhngg">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>  
    </div>
</footer>