/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'SFMOMADisplayRegular';
  src: url("/fonts/SFMOMADisplayRegular.eot");
  src: url("/fonts/SFMOMADisplayRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMADisplayRegular.woff2") format("woff2"), url("/fonts/SFMOMADisplayRegular.woff") format("woff"), url("/fonts/SFMOMADisplayRegular.ttf") format("truetype"), url("/fonts/SFMOMADisplayRegular.svg#SFMOMADisplayRegular") format("svg"); }
@font-face {
  font-family: 'SFMOMADisplayBold';
  src: url("/fonts/SFMOMADisplayBold.eot");
  src: url("/fonts/SFMOMADisplayBold.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMADisplayBold.woff2") format("woff2"), url("/fonts/SFMOMADisplayBold.woff") format("woff"), url("/fonts/SFMOMADisplayBold.ttf") format("truetype"), url("/fonts/SFMOMADisplayBold.svg#SFMOMADisplayBold") format("svg"); }
@font-face {
  font-family: 'SFMOMADisplayHeavy';
  src: url("/fonts/SFMOMADisplayHeavy.eot");
  src: url("/fonts/SFMOMADisplayHeavy.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMADisplayHeavy.woff2") format("woff2"), url("/fonts/SFMOMADisplayHeavy.woff") format("woff"), url("/fonts/SFMOMADisplayHeavy.ttf") format("truetype"), url("/fonts/SFMOMADisplayHeavy.svg#SFMOMADisplayHeavy") format("svg"); }
@font-face {
  font-family: 'SFMOMADisplayMedium';
  src: url("/fonts/SFMOMADisplayMedium.eot");
  src: url("/fonts/SFMOMADisplayMedium.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMADisplayMedium.woff2") format("woff2"), url("/fonts/SFMOMADisplayMedium.woff") format("woff"), url("/fonts/SFMOMADisplayMedium.ttf") format("truetype"), url("/fonts/SFMOMADisplayMedium.svg#SFMOMADisplayMedium") format("svg"); }
@font-face {
  font-family: 'SFMOMADisplayLight';
  src: url("/fonts/SFMOMADisplayLight.eot");
  src: url("/fonts/SFMOMADisplayLight.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMADisplayLight.woff2") format("woff2"), url("/fonts/SFMOMADisplayLight.woff") format("woff"), url("/fonts/SFMOMADisplayLight.ttf") format("truetype"), url("/fonts/SFMOMADisplayLight.svg#SFMOMADisplayLight") format("svg"); }
@font-face {
  font-family: 'SFMOMAText';
  src: url("/fonts/SFMOMATextRegular.eot");
  src: url("/fonts/SFMOMATextRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMATextRegular.woff") format("woff"), url("/fonts/SFMOMATextRegular.ttf") format("truetype"), url("/fonts/SFMOMATextRegular.svg#SFMOMATextRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFMOMAText';
  src: url("/fonts/SFMOMATextRegularItalic.eot");
  src: url("/fonts/SFMOMATextRegularItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMATextRegularItalic.woff") format("woff"), url("/fonts/SFMOMATextRegularItalic.ttf") format("truetype"), url("/fonts/SFMOMATextRegularItalic.svg#SFMOMATextRegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SFMOMAText';
  src: url("/fonts/SFMOMATextBold.eot");
  src: url("/fonts/SFMOMATextBold.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMATextBold.woff") format("woff"), url("/fonts/SFMOMATextBold.ttf") format("truetype"), url("/fonts/SFMOMATextBold.svg#SFMOMATextBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SFMOMAText';
  src: url("/fonts/SFMOMATextBoldItalic.eot");
  src: url("/fonts/SFMOMATextBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/SFMOMATextBoldItalic.woff") format("woff"), url("/fonts/SFMOMATextBoldItalic.ttf") format("truetype"), url("/fonts/SFMOMATextBoldItalic.svg#SFMOMATextBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
html, body {
  font-family: 'SFMOMAText';
  background-color: #f8f8f8;
  color: #232828;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4 {
  font-family: 'SFMOMADisplayRegular';
  font-weight: normal; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
